/* Начало стилей шапки */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-weight: normal;
  font-size: 18px;
}

.header-navigation-list {
  display: flex;
  gap: 32px;
  text-transform: lowercase;
  list-style-type: circle;
}

.header-navigation-list-item:first-child {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  min-width: 240px;
  font-style: normal;
  line-height: 24px;
}

.address a {
  display: block;
}

/* Конец стилей шапки */

/* Начало стилей обложки */

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  color: white;
  background-image: url("/images/cover.jpg");
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 385px;
  margin: 165px 50px 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
}

/* Начало стилей лотов */

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 36px 0 30px;
  list-style-type: none;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: white;
}

.card__title {
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link,
.lots__heading {
  margin-left: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
}

/* Конец стилей лотов */

/* Начало стилей "about" */

.about {
  display: grid;
  grid-template-columns: 359px 2fr;
  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__column {
  margin-top: 133px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  text-wrap: balance;
}

.about__text:not(:last-child) {
  margin-bottom: 30px;
}

/* Конец стилей "about" */

/* Начало стилей футера */

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  padding: 0 50px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}

/* Конец стилей футера */

/* Здесь вы не встретите очередное пафосное собрание невероятно дорогого антиквариата. Наши лоты вообще не должны были попасть ни на один аукцион. Потому что кому нужен дневник девочки-подростка или картина, которую может нарисовать даже ребёнок? Кому нужны все эти странные вещи, созданные любителями? */
