/* Начало стилей шапки */

.header {
    font-size: 18px;
    font-weight: normal;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    min-height: 293px;
}

.header-navigation-list {
    display: flex;
    gap: 30px;
    list-style-type: circle;
    text-transform: lowercase;
}

.header-navigation-list-item:first-child {
    list-style-type: none;
}

.link-active {
    text-decoration: none;
}

.logo-link {
    display: block;
    width: 148px;
}

.address {
    max-width: 240px;
    justify-self: end;
    font-style: normal;
}

/* Конец стилей шапки */

/* Начало стилей обложки */

.cover {
    z-index: -1;
    background-image: url("/images/cover.jpg");
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    padding: 165px 50px 0;
    line-height: 115px;
}

.letter-spacing-extended {
    letter-spacing: 25px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    justify-self: center;
}

.aligned-text_right {
    justify-self: end;
}

.cover__description {
    text-transform: uppercase;
    word-spacing: 20px;
    display: flex;
    justify-content: space-between;
    margin: 106px 50px 50px;
    align-items: center;
    font-size: 22px;
}

.bet-button {
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
}
